/* styles.css */
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  overflow-y: auto;
  background-color: #f0f0f0;
  padding: 10px;
  border-right: 2px solid #cccccc;
} 

#main-doc {
  margin-left: 270px;
  padding: 15px;
}

@media (max-width: 600px) {    
  #navbar {
    position: static;          
    width: 100%;               
    height: auto;              
    border-right: none;        
    border-bottom: 2px solid #cccccc; 
  }
  
}